{{#partial "content"}}
    <body>
    <h2>User Details</h2>

    <p>employee_name:{{employee_name}}</p>
    <p>position:{{position}}</p>
    <p>role:{{role}}</p>
    </body>
{{/partial}}
{{> layout.hbs}}